<h1>Enter a phrase - Create a Burg of the Day</h1>
<form action="/rhymes" method="POST">
  <input type="text" size="90" name="search_phrase">
  <br>
  <br>
  <button type="submit">Let's make that burger!</button>
</form>
